@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One:100,200,300,400,500,600,700|Red+Hat+Display:100,200,300,400,500,600,700');

/*-------------------------------------------------------------------NAVBAR*/

.navbar {
    margin-bottom: 0;
    width: 100%;
    border: 0;
    position: fixed;
    z-index: 9999;
}

.nav-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.navbar-dark {
    background-color: #d6d5d5!important;
}

.navbar .navbar-toggler {
    border: 0;
}

.nav-item {
    font-weight: 200;
    font-family: 'Julius Sans One', sans-serif;
    padding: 5px;
}

.navbar-brand {
    font-family: 'Julius Sans One', sans-serif;
    color: #e84610!important;
    letter-spacing: 7px;
    text-decoration: none;
}

.navbar-expand-sm .navbar-nav .nav-link {
    color: rgba(0, 0, 0, .5);
    color: #111111;
}

.hvr-sweep-to-bottom:before {
    background: rgba(255, 255, 255, 0.25);
}

.navbar-expand-sm .navbar-nav .nav-link:hover {
    color: rgba(0, 0, 0, .5);
    color: #e84610;
}

#navbarNavDropdown .active a {
    color: #e84610!important;
}


/*-------------------------------------------------------------------PARALLAX*/

.jumbotron {
    margin: 0;
    border-radius: 0;
}

.parallaxone {
    background-image: url("../../assets/images/BW10.jpg");
    min-height: 1200px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
}

.parallaxone h3 {
    color: #111111;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: lighter;
    padding-top: 50px;
    margin-top: 100px;
    text-align: center;
    margin-bottom: 0;
}

.parallaxone p {
    color: #e84610;
    font-weight: 100;
    letter-spacing: 7px;
    text-align: center;
    padding: 20px;
    margin-top: 0;
}

.parallaxtwo {
    background-image: url("../../assets/images/profile.png");
    min-height: 600px;
    background-attachment: scroll;
    background-size: cover;
    background-position: 50% 50%;
}

.parallaxtwo h2 {
    padding: 40px;
    color: #fafafa;
    font-family: 'Julius Sans One', sans-serif;
    letter-spacing: 4px;
    text-align: center;
}

.parallaxtwo p {
    color: #e84610;
    font-weight: 100;
    letter-spacing: 4px;
    line-height: 50px;
    text-align: center;
    margin-top: 0;
}

.parallaxthree {
    background-color: #BDBDBD;
    min-height: 600px;
    background-attachment: scroll;
    background-size: cover;
    background-position: 50% 50%;
}

.parallaxthree h1 {
    color: #111111;
    font-family: 'Julius Sans One', sans-serif;
    letter-spacing: 7px;
    text-align: center;
}

.parallaxfour {
    background-image: url("../../assets/images/BW9.jpg");
    min-height: 600px;
    margin-bottom: 100px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
}

.parallaxfour h1 {
    color: #e84610;
    font-family: 'Julius Sans One', sans-serif;
    letter-spacing: 7px;
    text-align: center;
}


/*-------------------------------------------------------------------CAROUSEL*/

.carousel-item img {
    background-color: #d6d5d5;
    margin: 0;
    border: 2px solid #e84610;
    border-radius: 15px;
}


/*-------------------------------------------------------------------PORTFOLIO*/

.portfolio-page {
    margin-top: 80px;
    margin-bottom: 100px;
    background-color: #fafafa;
    min-height: 1900px;
}

.portfolio-images {
    padding: 20px;
}

.portfolio-page h3 {
    color: #e84610;
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
    padding-top: 20px;

}


.img-thumbnail {
    border: 1px solid #e84610;
    border-radius: 5px;
    padding: 5px;
}

.photos p {
    color: #e84610;
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
}

.item {
    padding: 4px;
}


/*-------------------------------------------------------------------CONTACT PAGE*/

.find-me {
    background-image: url("../../assets/images/BW11.jpg");
    width: 100%;
    background-attachment: scroll;
    background-size: cover;
    background-position: 50% 50%;
    margin-top: 20px;
    padding: 0;
    height: auto;
    margin-bottom: 100px;
}

.find-me h1 {
    color: #e84610;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
}

.find-me h3 {
    color: #e84610;
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
    padding-top: 20px;
}

.find-me p {
    color: #111111;
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
    text-decoration: none;
}

.find-me-container {
    padding-top: 50px;
    background-color: white;
    opacity: .9;
    width: 100%;
}

.iframe-container {
    width: 100%;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.main-form {
    padding: 40px;
    margin-top: 100px;
    border-radius: 5px;
    background-color: #fafafa;
}

.main-form h1 {
    color: #e84610;
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
    padding-bottom: 60px;
}

.main-form button[type=submit] {
    font-family: 'Julius Sans One', sans-serif;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #e84610;
    color: white;
    font-size: 28px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.main-form button[type=submit]:hover {
    color: #e84610;
    background-color: #fafafa;
    border: 1px solid #e84610;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.main-form .form-control {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    font-weight: 100;
}

.main-form .form-text {
    font-family: 'Julius Sans One', sans-serif;
    text-align: left;
    font-size: 28px;
    color: #e84610;
}


/*-------------------------------------------------------------------FORM*/

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 60%;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #fafafa;
    padding: 20px;
}

button[type=submit] {
    font-family: 'Julius Sans One', sans-serif;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #e84610;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type=submit]:hover {
    color: #e84610;
    background-color: #fafafa;
    border: 1px solid #e84610;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.form-control {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 14px;
    font-weight: 100;
}

.form-text {
    font-family: 'Julius Sans One', sans-serif;
    text-align: left;
    color: #e84610;
}


/*-------------------------------------------------------------------FOOTER*/

footer {
    background-color: #d6d5d5;
    position: fixed;
    text-align: center;
    width: 100%;
    color: #fafafa;
    bottom: 0;
    padding-bottom: 20px;
    height: 70px;
}

.footer-content {
    color: #111111;
    text-align: center;
}

.social-links li a i {
    width: 50px;
    height: 50px;
    padding: 12px;
    border-radius: 50%;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #e84610;
}

.footer-details {
    padding-top: 5px;
}


/*-------------------------------------------------------------------MEDIA QUERIES*/

@media(min-width:320px) and (max-width:767px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 90%;
    }
}

@media(min-width: 768px) and (max-width:991px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 70%;
    }
}

@media(min-width:320px) and (max-width:991px) {
    .navbar-brand {
        letter-spacing: 3px;
    }
}

@media(min-width:320px) and (max-width:992px) {
    .parallaxone {
        background-image: url("../../assets/images/par1responsive.jpg");
       background-attachment:scroll;
        width: 100%;
        height: auto;
        z-index:1;
    }
}

@media(min-width:320px) and (max-width:992px) {
    .parallaxone h3 {
        font-size: 5vw;
    }
}

@media(min-width:320px) and (max-width:992px) {
    .parallaxone p {
        font-size: 4vw;
    }
}

@media(min-width:320px) and (max-width:767px) {
    .parallaxtwo {
        background-color: #202020;
        background-size: cover;
        background-position: 50% 50%;
    }
}

@media(min-width:320px) and (max-width:767px) {
    .parallaxtwo h2 {
        font-size: 8vw;
    }
}

@media(min-width:320px) and (max-width:767px) {
    .parallaxtwo p {
        font-size: 5vw;
        line-height: 30px;
    }
}

@media(min-width:320px) and (max-width:992px) {
    .parallaxthree {
        min-height: inherit;
    }
}

@media(min-width:320px) and (max-width:992px) {
    .parallaxthree h1 {
        font-size: 7vw;
        letter-spacing: 2px;
    }
}

@media(min-width:320px) and (max-width:992px) {
    .parallaxfour {
        background-image: url("../../assets/images/par4responsive.jpg");
        margin-bottom: 50px;
                 
        width: 100%;
        height: auto;
        z-index:2;
    }
}

@media(min-width:320px) and (max-width:992px) {
    .parallaxfour h1 {
        font-size: 7vw;
        letter-spacing: 2px;
    }
}

@media(min-width:320px) and (max-width:992px) {
    .portfolio-page {
        margin-top: 60px;
        margin-bottom: 50px;
    }
}

@media(min-width: 320px) and (max-width:1024px) {
    .find-me-container {
        width: 100%;
        padding: 0;
        margin-bottom: 10px;
    }
}

@media(min-width:320px) and (max-width:991px) {
    .iframe-container {
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
    }
}

@media(min-width: 320px) and (max-width:991px) {
    .social-links li a i {
        line-height: 30px;
        width: 30px;
        height: 30px;
        padding: 0px;
        border-radius: 50%;
        font-size: 20px;
        line-height: 30px;
    }
}

@media(min-width: 320px) and (max-width:991px) {
    .footer-details {
        padding-top: 2px;
        padding-bottom: 2px;
    }
}

@media(min-width: 320px) and (max-width:991px) {
    footer {
        line-height: 50px;
        height: 50px;
    }
}
